In [48]:
from surprise.model_selection import cross_validate
from surprise import Dataset
from surprise import Reader
import os

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
rr_df = pd.read_json('Documents/SJSU_Learning/256/renttherunway_final_data.json', lines=True)
mc_df = pd.read_json('Documents/SJSU_Learning/256/modcloth_final_data.json', lines=True)

In [50]:
mc_df.rename(columns={
	'quality':'rating'
},inplace=True)

mc_df['rating'] = [mc_df['rating'][i]*2 for i in range(len(mc_df['rating']))] # let rating in same scale

full_data = pd.concat([rr_df, mc_df], ignore_index=True)

In [51]:
read_dict = {'user_id':full_data['user_id'], 'item_id':full_data['item_id'], 'rating':full_data['rating']}
df = pd.DataFrame(read_dict)

In [58]:
reader = Reader(rating_scale=(0, 10))

In [54]:
df.head()

   user_id  item_id  rating
0   420272  2260466    10.0
1   273551   153475    10.0
2   360448  1063761    10.0
3   909926   126335     8.0
4   151944   616682    10.0

In [59]:
data = Dataset.load_from_df(df[['user_id','item_id', 'rating']], reader)

In [61]:
algo = SVD(n_factors=100, n_epochs=20, lr_all=0.015, reg_all = 0.16)

In [62]:
cross_validate(algo, data, measures=['RMSE'], cv=4, verbose=True)

Evaluating RMSE of algorithm SVD on 4 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Mean    Std
RMSE (testset)    nan     nan     nan     nan     nan     nan
Fit time          14.82   13.70   14.17   12.00   13.67   1.04
Test time         1.82    1.39    0.94    0.65    1.20    0.44

{'test_rmse': array([nan, nan, nan, nan]),
 'fit_time': (14.816486120223999,
  13.697763204574585,
  14.168232917785645,
  12.003289222717285),
 'test_time': (1.8177437782287598,
  1.3945889472961426,
  0.9442687034606934,
  0.6521961688995361)}