In [294]:
from surprise.model_selection import cross_validate
from surprise import Dataset
from surprise import Reader
import os

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [295]:
rr_df = pd.read_json('Documents/SJSU_Learning/256/renttherunway_final_data.json', lines=True)
mc_df = pd.read_json('Documents/SJSU_Learning/256/modcloth_final_data.json', lines=True)

In [296]:
mc_df.rename(columns={
	'quality':'rating'
},inplace=True)

mc_df['rating'] = [mc_df['rating'][i]*2 for i in range(len(mc_df['rating']))] # let rating in same scale

full_data = pd.concat([rr_df, mc_df], ignore_index=True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

In [297]:
import math
read_dict = {}
length = len(full_data['user_id'])
read_dict['user_id'] = [full_data['user_id'][i] for i in range(length) if not math.isnan(full_data['rating'][i])]
read_dict['item_id'] = [full_data['item_id'][i] for i in range(length) if not math.isnan(full_data['rating'][i])]
read_dict['rating'] = [full_data['rating'][i] for i in range(length) if not math.isnan(full_data['rating'][i])]

df = pd.DataFrame(read_dict)

In [298]:
reader = Reader(rating_scale=(0, 10))

In [299]:
df.head()

   user_id  item_id  rating
0   420272  2260466    10.0
1   273551   153475    10.0
2   360448  1063761    10.0
3   909926   126335     8.0
4   151944   616682    10.0

In [300]:
data = Dataset.load_from_df(df[['user_id','item_id', 'rating']], reader)

In [343]:
algo = SVD(n_factors=150, n_epochs=20, lr_all = 0.06, reg_all = 0.18)

In [344]:
cross_validate(algo, data, measures=['RMSE'], cv=4, verbose=True)

Evaluating RMSE of algorithm SVD on 4 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Mean    Std
RMSE (testset)    1.5856  1.5688  1.5901  1.5741  1.5796  0.0086
Fit time          16.49   16.01   16.19   15.59   16.07   0.33
Test time         0.70    0.66    0.67    0.49    0.63    0.09

{'test_rmse': array([1.58556208, 1.56882627, 1.59011533, 1.57408462]),
 'fit_time': (16.489126920700073,
  16.005654096603394,
  16.191751956939697,
  15.5899658203125),
 'test_time': (0.7038540840148926,
  0.6639089584350586,
  0.6711606979370117,
  0.4856600761413574)}