In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [102]:
rr_df = pd.read_json('renttherunway_final_data.json', lines=True)
rr_df.head()

,age,body type,bra size,category,fit,height,item_id,rating,rented for,review_date,review_summary,review_text,size,user_id,weight,cup size
0,28.0,hourglass,34.0,romper,fit,152.4,2260466,10.0,vacation,"April 20, 2016",So many compliments!,An adorable romper! Belt and zipper were a lit...,14,420272,137lbs,d
1,36.0,straight & narrow,34.0,gown,fit,152.4,153475,10.0,other,"June 18, 2013",I felt so glamourous!!!,I rented this dress for a photo shoot. The the...,12,273551,132lbs,b
2,116.0,NaN,NaN,sheath,fit,152.4,1063761,10.0,party,"December 14, 2015",It was a great time to celebrate the (almost) ...,This hugged in all the right places! It was a ...,4,360448,NaN,NaN
3,34.0,pear,34.0,dress,fit,152.4,126335,8.0,formal affair,"February 12, 2014",Dress arrived on time and in perfect condition.,I rented this for my company's black tie award...,8,909926,135lbs,c
4,27.0,athletic,34.0,gown,fit,152.4,616682,10.0,wedding,"September 26, 2016",Was in love with this dress !!!,I have always been petite in my upper body and...,12,151944,145lbs,b

In [6]:
mc_df = pd.read_json('modcloth_final_data.json', lines=True)
mc_df.head()

,bra size,bust,category,cup size,fit,height,hips,item_id,length,quality,review_summary,review_text,shoe size,shoe width,size,user_id,user_name,waist
0,34.0,36,new,d,small,5ft 6in,38.0,123373,just right,5.0,NaN,NaN,NaN,NaN,7,991571,Emily,29.0
1,36.0,NaN,new,b,small,5ft 2in,30.0,123373,just right,3.0,NaN,NaN,NaN,NaN,13,587883,sydneybraden2001,31.0
2,32.0,NaN,new,b,small,5ft 7in,NaN,123373,slightly long,2.0,NaN,NaN,9.0,NaN,7,395665,Ugggh,30.0
3,NaN,NaN,new,dd/e,fit,NaN,NaN,123373,just right,5.0,NaN,NaN,NaN,NaN,21,875643,alexmeyer626,NaN
4,36.0,NaN,new,b,small,5ft 2in,NaN,123373,slightly long,5.0,NaN,NaN,NaN,NaN,18,944840,dberrones1,NaN

brasize + cupsize = bustsize

In [7]:
mc_df.columns

Index(['bra size', 'bust', 'category', 'cup size', 'fit', 'height', 'hips',
       'item_id', 'length', 'quality', 'review_summary', 'review_text',
       'shoe size', 'shoe width', 'size', 'user_id', 'user_name', 'waist'],
      dtype='object')

In [8]:
mc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82790 entries, 0 to 82789
Data columns (total 18 columns):
bra size          76772 non-null float64
bust              11854 non-null object
category          82790 non-null object
cup size          76535 non-null object
fit               82790 non-null object
height            81683 non-null object
hips              56064 non-null float64
item_id           82790 non-null int64
length            82755 non-null object
quality           82722 non-null float64
review_summary    76065 non-null object
review_text       76065 non-null object
shoe size         27915 non-null float64
shoe width        18607 non-null object
size              82790 non-null int64
user_id           82790 non-null int64
user_name         82790 non-null object
waist             2882 non-null float64
dtypes: float64(5), int64(3), object(10)
memory usage: 11.4+ MB

In [9]:
rr_df.columns

Index(['age', 'body type', 'bust size', 'category', 'fit', 'height', 'item_id',
       'rating', 'rented for', 'review_date', 'review_summary', 'review_text',
       'size', 'user_id', 'weight'],
      dtype='object')

In [10]:
rr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192544 entries, 0 to 192543
Data columns (total 15 columns):
age               191584 non-null float64
body type         177907 non-null object
bust size         174133 non-null object
category          192544 non-null object
fit               192544 non-null object
height            191867 non-null object
item_id           192544 non-null int64
rating            192462 non-null float64
rented for        192534 non-null object
review_date       192544 non-null object
review_summary    192544 non-null object
review_text       192544 non-null object
size              192544 non-null int64
user_id           192544 non-null int64
weight            162562 non-null object
dtypes: float64(2), int64(3), object(10)
memory usage: 22.0+ MB

In [11]:
mc_df['rating'] = mc_df['quality']

In [15]:
mc_df.drop(['quality'], axis=1, inplace=True)

In [18]:
mc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82790 entries, 0 to 82789
Data columns (total 18 columns):
bra size          76772 non-null float64
bust              11854 non-null object
category          82790 non-null object
cup size          76535 non-null object
fit               82790 non-null object
height            81683 non-null object
hips              56064 non-null float64
item_id           82790 non-null int64
length            82755 non-null object
review_summary    76065 non-null object
review_text       76065 non-null object
shoe size         27915 non-null float64
shoe width        18607 non-null object
size              82790 non-null int64
user_id           82790 non-null int64
user_name         82790 non-null object
waist             2882 non-null float64
rating            82722 non-null float64
dtypes: float64(5), int64(3), object(10)
memory usage: 11.4+ MB

In [20]:
rr_df.rename(columns={
    'bust size':'brasize'
},inplace=True)

In [78]:
rr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192544 entries, 0 to 192543
Data columns (total 16 columns):
age               191584 non-null float64
body type         177907 non-null object
brasize           174133 non-null object
category          192544 non-null object
fit               192544 non-null object
height            191867 non-null object
item_id           192544 non-null int64
rating            192462 non-null float64
rented for        192534 non-null object
review_date       192544 non-null object
review_summary    192544 non-null object
review_text       192544 non-null object
size              192544 non-null int64
user_id           192544 non-null int64
weight            162562 non-null object
cupsize           174133 non-null object
dtypes: float64(2), int64(3), object(11)
memory usage: 23.5+ MB

In [22]:
rr_df['cupsize'] = rr_df['brasize']

In [23]:
bust = rr_df['brasize']

In [75]:
cup = []
bra = []
for i in range(len(bust)):
#     bust[i] = str(bust[i])
    if isinstance(bust[i], float) or bust[i] == 'NaN' or bust[i] == 'nan':
        cup.append(float('NaN'))
        bra.append(float('NaN'))
        continue
#     print(i)
    bra.append(bust[i][:2])
    cup.append(bust[i][2:])

In [76]:
rr_df['cupsize'] = cup

In [77]:
rr_df['brasize'] = bra

In [94]:
rr_df.rename(columns={
    'cupsize' : 'cup size',
    'brasize' : 'bra size'
},inplace = True)

In [96]:
rr_df['bra size'] = [float(j) for j in rr_df['bra size']]

In [97]:
rr_df['bra size']

0         34.0
1         34.0
2          NaN
3         34.0
4         34.0
5         32.0
6         34.0
7         34.0
8         36.0
9         32.0
10        34.0
11        34.0
12        36.0
13        36.0
14        34.0
15        34.0
16        34.0
17        34.0
18        34.0
19        34.0
20        36.0
21        32.0
22        36.0
23        34.0
24        32.0
25        32.0
26        32.0
27        32.0
28        34.0
29        34.0
          ...
192514     NaN
192515    34.0
192516    36.0
192517    36.0
192518    34.0
192519    34.0
192520     NaN
192521    34.0
192522    34.0
192523    34.0
192524    32.0
192525    36.0
192526    32.0
192527    34.0
192528    38.0
192529    34.0
192530    32.0
192531    32.0
192532    36.0
192533    34.0
192534    34.0
192535    36.0
192536    34.0
192537    32.0
192538    34.0
192539    34.0
192540    32.0
192541    36.0
192542    36.0
192543    36.0
Name: bra size, Length: 192544, dtype: float64

split bust size in rr_df make it brasize and cupsize

In [79]:
mc_df['rating'] = [mc_df['rating'][i]*2 for i in range(len(mc_df['rating']))]
# make rating all in same range

In [116]:
rr_df.head()

,age,body type,bra size,category,fit,height,item_id,rating,rented for,review_date,review_summary,review_text,size,user_id,weight,cup size
0,28.0,hourglass,34.0,romper,fit,172.72,2260466,10.0,vacation,"April 20, 2016",So many compliments!,An adorable romper! Belt and zipper were a lit...,14,420272,137lbs,d
1,36.0,straight & narrow,34.0,gown,fit,167.64,153475,10.0,other,"June 18, 2013",I felt so glamourous!!!,I rented this dress for a photo shoot. The the...,12,273551,132lbs,b
2,116.0,NaN,NaN,sheath,fit,162.56,1063761,10.0,party,"December 14, 2015",It was a great time to celebrate the (almost) ...,This hugged in all the right places! It was a ...,4,360448,NaN,NaN
3,34.0,pear,34.0,dress,fit,165.10,126335,8.0,formal affair,"February 12, 2014",Dress arrived on time and in perfect condition.,I rented this for my company's black tie award...,8,909926,135lbs,c
4,27.0,athletic,34.0,gown,fit,175.26,616682,10.0,wedding,"September 26, 2016",Was in love with this dress !!!,I have always been petite in my upper body and...,12,151944,145lbs,b

In [85]:
print(type(mc_df['cup size'][0]))

<class 'str'>

In [98]:
def get_cms(x):
    if type(x) == type(1.0):
        return
    #print(x)
    try: 
        return (int(x[0])*30.48) + (int(x[4:-2])*2.54)
    except:
        return (int(x[0])*30.48)
mc_df.height = mc_df.height.apply(get_cms)

In [110]:
print((rr_df.height[0][0],rr_df.height[0][3]))

('5', '8')

In [111]:
def get_cms_r(x):
    if type(x) == type(1.0):
        return
    #print(x)
    try: 
        return (int(x[0])*30.48) + (int(x[3])*2.54)
    except:
        return (int(x[0])*30.48)

In [115]:
rr_df.height = rr_df.height.apply(get_cms_r)

In [117]:
data = pd.concat([rr_df, mc_df], ignore_index=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [118]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275334 entries, 0 to 275333
Data columns (total 23 columns):
age               191584 non-null float64
body type         177907 non-null object
bra size          250905 non-null float64
bust              11854 non-null object
category          275334 non-null object
cup size          250668 non-null object
fit               275334 non-null object
height            273550 non-null float64
hips              56064 non-null float64
item_id           275334 non-null int64
length            82755 non-null object
rating            275184 non-null float64
rented for        192534 non-null object
review_date       192544 non-null object
review_summary    268609 non-null object
review_text       268609 non-null object
shoe size         27915 non-null float64
shoe width        18607 non-null object
size              275334 non-null int64
user_id           275334 non-null int64
user_name         82790 non-null object
waist             2882 non-null float64
weight            162562 non-null object
dtypes: float64(7), int64(3), object(13)
memory usage: 48.3+ MB

In [119]:
data.head()

,age,body type,bra size,bust,category,cup size,fit,height,hips,item_id,...,review_date,review_summary,review_text,shoe size,shoe width,size,user_id,user_name,waist,weight
0,28.0,hourglass,34.0,NaN,romper,d,fit,172.72,NaN,2260466,...,"April 20, 2016",So many compliments!,An adorable romper! Belt and zipper were a lit...,NaN,NaN,14,420272,NaN,NaN,137lbs
1,36.0,straight & narrow,34.0,NaN,gown,b,fit,167.64,NaN,153475,...,"June 18, 2013",I felt so glamourous!!!,I rented this dress for a photo shoot. The the...,NaN,NaN,12,273551,NaN,NaN,132lbs
2,116.0,NaN,NaN,NaN,sheath,NaN,fit,162.56,NaN,1063761,...,"December 14, 2015",It was a great time to celebrate the (almost) ...,This hugged in all the right places! It was a ...,NaN,NaN,4,360448,NaN,NaN,NaN
3,34.0,pear,34.0,NaN,dress,c,fit,165.10,NaN,126335,...,"February 12, 2014",Dress arrived on time and in perfect condition.,I rented this for my company's black tie award...,NaN,NaN,8,909926,NaN,NaN,135lbs
4,27.0,athletic,34.0,NaN,gown,b,fit,175.26,NaN,616682,...,"September 26, 2016",Was in love with this dress !!!,I have always been petite in my upper body and...,NaN,NaN,12,151944,NaN,NaN,145lbs